
  
<table border=2 class="table">
<tr class="success"><th>Trainer_Id</th>
 <th>Trainer_Name</th>
 <th>Trainer_Experience</th>
 <th>Stream</th>
 <th>contact_number</th>
 <th>Address</th>
 <th>C</th>
 <th>Action </th>
 </tr>
     <span *ngIf="errormessage" style="color:red">{{errormessage}}</span>
      <tr><td colspan=8> <span *ngIf="!trainers || trainers.length==0" style="color:red">No Faculties to Display</span></td></tr>
   
   <tr class="active" *ngFor="let trainer of trainers; let idx = index">
         
      
            <td>  {{trainer.Trainer_Id}}</td>
         
             <td>  {{trainer.Trainer_Name}}</td>
             <td><input type="text" name="Trainer_Experience" [(ngModel)]="trainer.Trainer_Experience"   /></td>
             <td><input type="text" name="Stream" [(ngModel)]="trainer.Stream"  /></td>
             <td><input type="text" name="contact_number"  [(ngModel)]="trainer.contact_number"  /></td>
             <td><input type="text" name="Address"   [(ngModel)]="trainer.Address"   /></td>
              <td>  {{trainer.c}}</td>
              
              
              <td  nowrap> <button (click)="UpdateTrainer(trainer)"   style="color:Green">Update</button>
              &nbsp; <button (click)="deleteTrainer(trainer)" style="color:red">Delete</button></td>
           
              </tr>
              <tr><td colspan=8> </td></tr>
              </table>
