


<div class="container">

  

<table class="table">
   <tr><td class="success"><a routerLink="/home">Home</a></td><td class="danger"><a  routerLink="/viewAllFaculties">All Faculties</a></td><td class="info"> <a  routerLink="/facultybyName">View Faculty By Name</a></td><td class="warning"> <a  routerLink="/facultybyStream">View Faculty By Stream</a></td><td class="success"><a routerLink="/externalServer">ExternalURL</a></td><td class="info"> <a  routerLink="/add">Register Faculty</a></td></tr></table>
  
 
</div>